$lightPurple: #F4F5FC;
$purple: #5A61ED;
$white: #ffffff;
$black: #111111;
$red: #FF2828;

$accentColor: $purple;
$accentColorHover: #3B40A4;
$textColor: $black;
$errorColor: $red;
$bgColor: $lightPurple;