@keyframes error {
    20% {
        transform: translateX(-5%);
    }

    40% {
        transform: translateX(5%);
    }

    60% {
        transform: translateX(-5%);
    }

    80% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(0%);
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    min-height: 32px;
    gap: 20px;

    &__login {
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__login-link {
        position: relative;
        display: inline;
        color: $accentColor;
        font-weight: 500;
        transition: all .3s ease;

        &::after {
            position: absolute;
            content: '';
            display: block;
            bottom: 1px;
            width: 100%;
            height: 1px;
            background-color: $accentColor;
            transition: all .3s ease;
        }

        @media(any-hover:hover) {
            &:hover {
                color: #3B40A4;

                &::after {
                    background-color: $accentColorHover;
                }
            }
        }
    }

    &__signup-button.error {
        animation: error .5s ease-in-out;
    }
}